/*stylesheet*/

/*vars */
:root {
	--background-color: white;
}

body {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  margin: 0 auto;
  max-width: 960px;
}

.project-inner {
  position: relative;
}

.masthead img {
  width: 100%;
}

.fname p {
  font-size: 2em;
  margin-top: 2.75em;
}

#monsterfishtitle {
  width: 100px;
}

#fishscene1 {
  position: relative;
  width: 55%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*button 1*/
.yes1 {
  z-index: 3;
  background: transparent;
  position: absolute;
  width:  20%;
  height: 50%;
  bottom: 30%;
  left:  50%;
}

#fishscene2 {
  position: relative;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 770px;
}

/*button 2*/
.yes2 {
  z-index: 3;
  background: transparent;
  position: absolute;
  width:  30%;
  height: 80%;
  bottom: 22%;
  left:  47%;
}

#fishscene3 {
  position: relative;
  width: 700px;
  height: auto;
  display: block;
  left: 4%;
}

/*button 3*/
.yes3 {
  z-index: 3;
  background: transparent;
  position: absolute;
  width:  10%;
  height: 14%;
  bottom: 50%;
  left:  44%;
}

#fishscene4 {
  position: relative;
  width:450px;
  height: auto;
  display: block;
  left:  22% ;
}

/*button 4 naming fish*/
.namenext {
  z-index: 3;
  background: transparent;
  position: absolute;
  width:  50%;
  height: 62%;
  bottom: 30%;
  left:  22%;
}

#fishscene5 {
  position: relative;
  width: 860px;
  height: auto;
  display: block;
  top: -30px;
}

/*button 5 feeding fish*/
.yes5 {
  z-index: 3;
  background: transparent;
  position: absolute;
  width:  10%;
  height: 10%;
  bottom: 60%;
  left:  34%;
}

#feedinggif {
  position: relative;
  width: 470px;
  height: auto;
  display: block;
  left: 24%;
}

 /*button 6 fish GIF*/
.yes6 {
  z-index: 3;
  background: transparent;
  position: absolute;
  width:  10%;
  height: 22%;
  bottom: 18%;
  left:  44%;
}

#fishscene7 {
  position: relative;
  width: 470px;
  height: auto;
  display: block;
  left: 24%;
}

/*button 7 feed fish2*/
.yes7 {
  z-index: 3;
  background: transparent;
  position: absolute;
  width:  8%;
  height: 18%;
  bottom: 42%;
  left:  30%;
}

/*button 6 fish GIF*/
.yes8 {
  z-index: 3;
  background: transparent;
  position: absolute;
  width:  10%;
  height: 22%;
  bottom: 18%;
  left:  44%;
}

#nomorefish {
  position: relative;
  width: 500px;
  height: auto;
  display: block;
  left: 20%;
  top: -20px;
}

#buttons {
  width: 400px;
  position: relative;
  left: 22%;
  bottom: +5px;
}

.setfree {
  z-index: 3;
  background: transparent;
  position: absolute;
  width:  14.5%;
  height: 14%;
  bottom: 3%;
  left:  23%;
}


.keepfeeding {
  z-index: 3;
  background: transparent;
  position: absolute;
   width:  14.5%;
  height: 14%;
  bottom: 3%;
  left:  51.5%;
}

/*Flushing Fish*/

#fishgif {
  position: relative;
  width: 590px;
  height: auto;
  display: block;
  left: 15%;
  bottom: +90px;
}

#nextbutton {
  width: 60px;
  left:  80%;
  position: relative;
  top: +20px;
}

/*Page 10 Button*/
.nextbutton {
  z-index: 3;
  background: transparent;
  position: absolute;
  width:  7%;
  height: 8.5%;
  bottom: 88.5%;
  left: 80%;
}

/*Fish in Pipe*/

#pipegif {
  position: relative;
  width: 700px;
  height: auto;
  display: block;
  left: 15%;
  bottom: +9px;
}

#nextbutton2 {
  width: 60px;
  left:  85%;
  position: relative;
  bottom: 124px;
}

.nextbutton2 {
  z-index: 3;
  background: transparent;
  position: absolute;
   width:  7%;
  height: 9.5%;
  bottom: 23.5%;
  left:  85%;
}

#fishscene12 {
  position: relative;
  width: 570px;
  height: auto;
  display: block;
  left: 19%;
  top: -1;
}

.yes12 {
  z-index: 3;
  background: transparent;
  position: absolute;
  width:  14%;
  height: 20%;
  bottom: 35%;
  left:  40%;
}

#fishscene13 {
  position: relative;
  width: 660px;
  height: auto;
  display: block;
  left: 14%;
  top: +18;
}

.yes13 {
  z-index: 3;
  background: transparent;
  position: absolute;
  width:  10%;
  height: 17%;
  bottom: 28%;
  left:  42%;
}


#toobig {
  position: relative;
  width: 750px;
  height: auto;
  display: block;
  left: 10%;
  top: +6;
}

#text14 {
  position: relative;
  width: 550px;
  left:  15%;
  bottom: +100px;
}

#nextbutton3 {
  width: 60px;
  left:  88%;
  position: relative;
  bottom: 100px;
}

.nextbutton3 {
  z-index: 3;
  background: transparent;
  position: absolute;
  width:  7%;
  height: 8.5%;
  bottom: 17%;
  left: 88%;
}

#resources {
  position: relative;
  width: 620px;
  height: auto;
  display: block;
  left: 17%;
  top: -70px;
}

.menu ul {
  background-image: url(../images/timeline.png);
  background-repeat: no-repeat;
  width: 6%;
}

.menu ul li {
  list-style: none;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 14px;
  margin-bottom: 1em;
  padding-left: 1.6em;
}

.menu ul li.active {
  font-weight: 800;
  font-size: 130%;
}


.name-fish {
  width: 600px;
  padding: 1.5em;
  text-align: center;
  padding-left: 15em;
  padding-right: 0em;
  background-repeat: no-repeat;
}


input {
  width: 300px;
  border: 1px solid black;
  background: #f6f6f6;
  text-align: center;
}

#submitBtn {
  width: 100px;
  text-align: center;
  color: #d6d6d6;
  background: black;
}












