/*stylesheet*/

/*vars */
:root {
	--background-color: white;
}

#wrapper {
  margin: 0 auto;
  max-width: 960px;
}

.project {

}
.project-inner {
  position: relative;
}

.masthead img {
  width: 25%;
}

/*button*/
.yes {
  z-index: 3;
  background: transparent;
  position: absolute;
  width:  47%;
  height: 11%;
  bottom: 7.8%;
  left:  26.5%;
}

#fishscene1 {
	position: relative;
}