/*stylesheet*/

/*vars */
:root {
	--background-color: white;
}

body {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  margin: 0 auto;
  max-width: 960px;
}

.project-inner {
  position: relative;
}

.masthead img {
  width: 20%;
}


#fishscene1 {
  position: relative;
  width: 55%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*button 1*/
.yes1 {
  z-index: 3;
  background: transparent;
  position: absolute;
  width:  20%;
  height: 50%;
  bottom: 30%;
  left:  50%;
}

#fishscene2 {
  position: relative;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 770px;
}

/*button 2*/
.yes2 {
  z-index: 3;
  background: transparent;
  position: absolute;
  width:  30%;
  height: 80%;
  bottom: 22%;
  left:  47%;
}

#fishscene3 {
  position: relative;
  width: 700px;
  height: auto;
  display: block;
  left: 8%;
}

/*button 3*/
.yes3 {
  z-index: 3;
  background: transparent;
  position: absolute;
  width:  10%;
  height: 14%;
  bottom: 50%;
  left:  44%;
}

#fishscene4 {
  position: relative;
  width: 600px;
  height: auto;
  display: block;
}

/*button 4 naming fish*/
.yes4 {
  z-index: 3;
  background: green;
  position: absolute;
  width:  12%;
  height: 22%;
  bottom: 40%;
  left:  37%;
}

#fishscene5 {
  position: relative;
  width: 860px;
  height: auto;
  display: block;
  top: -30px;
}

/*button 5 feeding fish*/
.yes5 {
  z-index: 3;
  background: transparent;
  position: absolute;
  width:  10%;
  height: 10%;
  bottom: 60%;
  left:  34%;
}

#feedinggif {
  position: relative;
  width: 470px;
  height: auto;
  display: block;
  left: 24%;
}

 /*button 6 fish GIF*/
.yes6 {
  z-index: 3;
  background: transparent;
  position: absolute;
  width:  10%;
  height: 25%;
  bottom: 10%;
  left:  40%;
}

#fishscene7 {
  position: relative;
  width: 470px;
  height: auto;
  display: block;
  left: 24%;
}

/*button 7 feed fish2*/
.yes7 {
  z-index: 3;
  background: transparent;
  position: absolute;
  width:  9%;
  height: 16%;
  bottom: 42%;
  left:  30%;
}

#nomorefish {
  position: relative;
  width: 470px;
  height: auto;
  display: block;
  left: 20%;
  top: -4px;
}

#buttons {
  width: 400px;
  position: relative;
  left: 22%;
  bottom: +5px;
}

.setfree {
  z-index: 3;
  background: transparent;
  position: absolute;
  width:  14.5%;
  height: 14%;
  bottom: 3%;
  left:  23%;
}

.keepfeeding {
  z-index: 3;
  background: transparent;
  position: absolute;
   width:  14.5%;
  height: 14%;
  bottom: 3%;
  left:  51.5%;
}

#fishgif {
  position: relative;
  width: 590px;
  height: auto;
  display: block;
  left: 18%;
  bottom: +32px;
}


.menu ul {
  background-image: url(../images/timeline.png);
  background-repeat: no-repeat;
  width: 6%;
}

.menu ul li {
  list-style: none;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 14px;
  margin-bottom: 1em;
  padding-left: 1.6em;
}

.menu ul li.active {
  font-weight: 800;
  font-size: 130%;
}


.name-fish {
  width: 600px;
  padding: 1.5em;
  text-align: center;
  background-image: url(../images/textbox.png);
  background-repeat: no-repeat;
}

input {
  width: 400px;
  border: 1px solid black;
  background: #f6f6f6;
  text-align: left;
}










